<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 01 JS Advanced Class 04</title>
    <style></style>
</head>

<body>
    <button id="btn">Click</button>
    <table style="border: 1px;" id="container">

    </table>
    <div id="btnDiv">
        <!-- <button id="btnPrevious">PREVIOUS 10</button> -->
        <!-- <button id="btnNext">NEXT 10</button> -->
    </div>
    <script src="/src/app.js"></script>
</body>

</html>