<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 10 Homework</title>
</head>
<body>
    <!-- <h1>Academy exercise</h1>

    <div>
        <h2>Academy Information</h2>
        <p>Name: <span id="academyName"></span></p>
        <p>Start Date: <span id="startDate"></span></p>
        <p>End Date: <span id="endDate"></span></p>
        <p>Number of Classes: <span id="numberOfClasses"></span></p>
    </div>

    <div>
        <h2>Subjects Offered</h2>
        <ul id="subjectList"></ul>
    </div>

    <div>
        <h2>Enrolled Students</h2>
        <ul id="studentList"></ul>
    </div> -->
    <script src="/src/app.js"></script>
</body>
</html>